* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --background: #000000;
    --seconderyBackground: #43008f;
    --input-color:#0e001a;
    --text-color-button:#e0dddd;
    --text-color: #ffffff;
}

body {
    background-color: var(--background);
    color:var(--text-color);
    font-size: 160%;
}
.container {
    width: 80%;
    height: 10vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    margin: 6% auto 7% auto;
    border: 2px solid var(--seconderyBackground);
    border-radius: 3px;
    box-shadow: 3px 3px 12px 1px var(--seconderyBackground);
}
.list-container {
    height: 8vh;
    padding: 1%;
    max-width: 500px;
    margin: 4% auto 2% auto;
}
input{
    padding: 3%;
    font-size: 60%;
    height: 1.3vh;
    width: 80%;
    background-color: var(--input-color);
    color: var(--text-color);
    margin: 2% 0 5% 0;
    border:1px solid var(--seconderyBackground);
    box-shadow: 1px 1px 12px 1px var(--seconderyBackground);
    border-radius: 3px; 
}
.item-label {
    margin:1.5% 0 0 0;
    font: optional;
    font-size: 20px;
}

.button{
    width: 115px;
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    background-color: var(--seconderyBackground);
    color: var(--text-color-button);
    box-shadow: 2px 2px 12px 3px var(--seconderyBackground);
    margin: 1% auto;
    border: 0;
    border-radius: 50%;
    max-width: 500px;
    cursor: pointer;
}

.list-button {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    background-color: var(--seconderyBackground);
    box-shadow: 1px 1px 12px 1px var(--seconderyBackground);
    color: var(--text-color-button);
    margin: 1% auto;
    border: 0;
    border-radius: 50%;
    max-width: 500px;
    cursor: pointer;

}
.finish-button{
    width: 25%;
    height: 6vh;
    display: flex;
    justify-content:center;
    text-align: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    background-color: var(--seconderyBackground);
    box-shadow: 2px 2px 12px 2px var(--seconderyBackground);
    color: var(--text-color-button);
    border: 0;
    margin: 0;
    border-radius: 50%;
    max-width: 500px;
    cursor: pointer;
}

.show-answer-button {
    width: 9%;
    height: 4vh;
    display:inline-block;
    font-size: 15px;
    font-weight: bold;
    background-color: var(--seconderyBackground);
    color: var(--text-color);
    box-shadow: 1px 1px 12px 1px var(--seconderyBackground);
    margin: auto;
    border: 0;
    border-radius: 35%;
    cursor: pointer;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0 10% 0 10%;
}

li {
    display: inline-block;
    justify-content: center;
    width: 100%;
    font-size: 70%;
    color: var(--text-color);
    margin: auto;
    text-align: center;
    margin-top: 1;
}

.list-item {
    width: 85%;
    height: 2.5vh;
}

.button-klein {
    
    width: 20px;
    height: 20px;
    font-size: 15px;
    font-weight: bold;
    background-color: var(--seconderyBackground);
    color: var(--text-color);
    border: 0;
    border-radius: 50%;
    cursor: pointer;
}

.query-container {
    display:flex;
    flex-direction: row; 
}

h1 {
    display:flex;
    justify-content:center;
    text-align: center;
    font-size: 150%;
    margin-left: 2%;
    width: 80%;
}

.progress {
    display:flex;
    justify-content:center;
    text-align: center;
    width: 6%;
    height: 3vh;
    font-size: 15px;
    font-weight: bold;
    background-color: var(--seconderyBackground);
    color: var(--text-color);
    box-shadow: 1px 1px 12px 1px var(--seconderyBackground);
    margin: auto;
    border: 0;
    border-radius: 50%;
    
}

.finish-btn-container {
    width: 50%;
    height: 7vh;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    
}

.answerCorrect {
    text-align: center;
    font-size: 75%;
}

.hide {
    display: none;
}

